aiofiles
aiohttp
anthropic==0.52.2
anyio
async-timeout
attrs
chainlit==2.5.5
charset-normalizer
click
dataclasses-json
Deprecated
fastapi
google-generativeai
google-auth
googleapis-common-protos
grpcio
grpcio-status
h11
httpx
httpx-sse
huggingface-hub
idna
Jinja2
MarkupSafe
mcp
multidict
nest-asyncio
openai==1.84.0
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation
opentelemetry-instrumentation-openai
opentelemetry-instrumentation-requests
opentelemetry-semantic-conventions
packaging
pydantic==2.11.5
pydantic-settings
python-dotenv
python-multipart
PyYAML
requests
sse-starlette
starlette
tenacity
tiktoken
typing_extensions>=4.11,<5
urllib3
uv
uvicorn==0.34.3
watchdog
